<!-- <li><a routerLink="/next">Next</a></li><br><br>
<li><a routerLink="/third">Third</a></li> -->

<div class="container">
<nav class="navbar navbar-dark bg-primary">
    <!-- <a class="navbar-brand" href="#">Navbar</a> -->
    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>&nbsp;&nbsp; -->
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

          <a class="navbar-brand" href="#" style="color:white">Home <span class="sr-only">(current)</span></a>&nbsp;


          <a class="navbar-brand" routerLink="/next" style="color:white">Login/Signup</a>&nbsp;
        

          <a class="navbar-brand" routerLink="/third" style="color:white">
            Third
          </a>
          <!-- <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>&nbsp;
            <a class="dropdown-item" href="#">Another action</a>&nbsp;
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>&nbsp;
          </div> -->
        <!-- </li>&nbsp; -->
        <!-- <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>&nbsp;-->
     <!-- </ul>  -->



    </div>
  </nav>

 <!-- <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <div align="center">
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>&nbsp;</div>
  </div> -->