 <div class='container' >


    <h3> {{details.name}}</h3>


<table  class="table ">
    <tr>
      <td>
          Id: 
      </td>
      <td>
        {{details.id}}
      </td>

    </tr>
    <tr>
      <td>
          Title: 
      </td>
      <td>
        {{details.name}}
      </td>
    </tr>
    <tr>
      <td>
          Price: 
      </td>
      <td>
        {{details.price}}
      </td>

    </tr>
    <tr>
      <td>
          In Stock: 
      </td>
      <td>
        {{details.InStock}}
      </td>
    </tr>
    <tr>
        <td>
            Model: 
        </td>
        <td>
          {{details.model}}
        </td>
      </tr>
  </table>

  <button class='btn btn-info' (click)="Add()">Add to Cart</button>

</div>


<!-- 
  <button class="btn btn-lg btn-danger" (click)='close()'>Close </button> -->
